{{ "<!-- Fixed Navigation -->" | safeHTML }}
{{ if .Site.Params.menufixed }}
<section class="header navigation top-bar">
{{ else }}
<section class="header navigation">
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
                        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
                    </a>
                    <div class="d-flex align-items-center">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="tf-ion-android-menu"></span>
                        </button>
                        <!-- Icones & drapeaux de choix des langues -->
                        <div id="drapeaux" class="select-language d-block d-lg-none">
                            <!-- Pour passer la langue actuelle (variable globale) dans la range => explicitement -->
                            {{ range .Site.Params.listeLangues }}
                            {{ partial "flags.html" (dict "site" $.Site "liste" .) }}
                            {{ end }}
                        </div>
                    </div>
                    
                    
                </nav>
            </div>
        </div>
    </div>
</section>